.ant-layout-sider {
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
}

.ant-menu {
  min-height: 100%;
}

.ant-menu-inline-collapsed {
  width: 48px !important;
}

.ant-menu-root {
  .ant-menu-item, .ant-menu-submenu-title {
    padding-left: 20px !important;
  }
}

.ant-menu-inline-collapsed {
  .ant-menu-item, .ant-menu-submenu-title {
    padding-left: 12px !important;
  }
}

.ant-menu-sub {
  .ant-menu-item {
    padding-left: 40px !important;
  }
}

.ant-layout-sider-trigger {
  display: flex;
  justify-content: start;
  padding-left: 17px;
}

//高亮主题时trigger未收缩宽度
.antd-side-class {
  .ant-layout-sider-trigger {
    border-top: 1px solid rgba(0, 0, 0, .06);
    width: 199px !important;
  }
}

// 高亮主题时trigger收缩时宽度
.ant-layout-sider-collapsed {
  .ant-layout-sider-trigger {
    width: 47px !important;
  }
}

