.ant-spin-dot {
    font-size: 40px;
    position: absolute !important;
    display: inline-block;
    width: 1em;
    height: 1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
